* {
            box-sizing: border-box;
            text-decoration: none;
            color: #fff;
            text-align: center;
        }

        html {
            scroll-behavior: smooth
        }

        body {
            background-color: #2e393b
        }

        main {
            display: grid;
            place-items: center;
        }

        .card {
            background-color: #485759;
            box-shadow: 0 .25rem .5rem 0 #00000033;
            border-radius: 1.25rem;
            width: 76%;
            padding: 2rem;
            max-width: 30rem;
            margin-top: 2rem;
        }

        input {
            max-width: 16rem;
            font-size: medium;
            padding: .5rem;
            border-radius: 1rem;
            border: .1rem solid #6495ed;
            margin: auto;
            outline: transparent;
            background-color: transparent;
        }

        p {
            background-color: #1bc8e686;
            max-width: 16rem;
            padding: .5rem;
            margin-inline: auto;
            font-size: large;
            border-radius: 1rem
        }
